.actions {
    margin-bottom: 20px;
}

.mlms-table {
    width: 100%;
    border-collapse: collapse;
}

.mlms-table thead th {
    border-bottom: 2px solid #ccc;
}

.mlms-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.mlms-table tbody td, .mlms-table thead th {
    padding: 10px;
}

.does-compile, .evoke-enabled {
    font-weight: bold;
    color: darkgreen;
}

.does-not-compile, .evoke-disabled {
    font-weight: bold;
    color: darkred;
}